server:
  port: 8090
spring:
  application:
    name: frontend-service
  thymeleaf:
    cache: false
eureka:
  client:
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/
