server:
  port: 8761

spring:
  application:
    name: discovery-server
  security:
    user:
      name: admin
      password: admin123

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://admin:admin123@localhost:8761/eureka/
  server:
    enable-self-preservation: false
